<!DOCTYPE html>
<html lang="fr">
    
    <!------------------------------------------------------------------------->
    <!-- En tête de la page                                                  -->
    <!------------------------------------------------------------------------->
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Application QCM</title>

        <!-- Bootstrap -->
        <link href="{{ asset('/css/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">   

        <!-- Feuille de style spécifique au site -->
        <!-- <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" /> -->

    </head>
    
    <!------------------------------------------------------------------------->
    <!-- Corps de la page                                                    -->
    <!------------------------------------------------------------------------->
    <body>

        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}

        
        <!-- En-tête de la page courante -->
        <div class="header col-md-12 page-header">

            <h1>Application QCM</h1>
            {% block header %}
            {% endblock %}

        </div>

        <!-- Corps de la page courante -->
        <div class="body col-md-12">
            
            <!-- Bandeau d'affichage de l'utilisateur courant -->
            {% block userBar %}
            {% endblock %}
            
            
            <!-- Définition de la barre de navigation -->
            {% include 'QcmBackBundle::navBar.html.twig' with {'page' : page} %}
                
            
            <!-- Corps de la page -->
            {% block body %}
            {% endblock %}
            
        </div>

        <!-- Pied de la page courante -->
        <div class="footer">
            
            {% block footer %}
            {% endblock footer %}
            
        </div>

            
        <!--------------------------------------------------------------------->
        <!-- Déclarations diverses                                           -->
        <!--------------------------------------------------------------------->
      
        <!-- Bibliothèque JQuery -->
        <script src="{{asset('js/jquery-2.1.3.js')}}" type="text/javascript"></script>
        
        <!-- Autres sources javascripts -->
        {% block javascript %}
        {% endblock %}
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{asset('css/bootstrap/dist/js/bootstrap.min.js')}}"></script>
       
    </body>

</html>