{# Désactivation par défaut de toutes les sections #}
{% set accueilActive = '' %}
{% set questionsActive = '' %}
{% set themesActive = '' %}
{% set testsActive = '' %}
{% set inscriptionsActive = '' %}

{# Activation de la page demandée #}
{% if page is defined %}
    
    {% if page == 'accueil' %}
        {% set accueilActive = 'active' %}
    {% elseif page == 'questions' %}
        {% set questionsActive = 'active' %}
    {% elseif page == 'themes' %}
        {% set themesActive = 'active' %}
    {% elseif page == 'tests' %}
        {% set testsActive = 'active' %}
    {% elseif page == 'inscriptions' %}
        {% set inscriptionsActive = 'active' %}
    {% endif %}
    
{% endif %}

{# Création de la barre de menu #}
<ul class="nav nav-tabs"> 

    <!-- Accueil -->
    <li role="presentation" class="{{accueilActive}}">
        <a href="{{path('admin')}}">Accueil</a>
    </li>

    <!-- Lien vers la partie Questions -->
    <li role="presentation" class="{{questionsActive}}">
        <a href="{{path('questions_index')}}">Questions</a>
    </li>

    <!-- Lien vers la partie Thèmes -->
    <li role="presentation" class="{{themesActive}}">
        <a href="{{path('themes_ajouter')}}">Thèmes</a>
    </li>

    <!-- Lien vers la partie Tests -->
    <li role="presentation" class="{{testsActive}}">
        <a href="{{path('tests_ajouter')}}">Tests</a>
    </li>

    <!-- Lien vers la partie Inscriptions -->
    <li role="presentation" class="{{inscriptionsActive}}">
        <a href="{{path('inscriptions_index')}}">Inscriptions</a>
    </li>

</ul> 
