{% extends 'QcmFrontBundle::general.html.twig' %}

{# Barre d'en-tête - Nom prénom et fonction de l'utilisateur courant #}
{% block utilisateur %}
{% endblock %} 

{# Barre de menu #}
{% block menu %}

    <!-- Affichage du menu -->
    <nav class="navbar navbar-default">

        <ul class="nav navbar-nav">

            <li><a href="{{path('admin')}}">Accueil</a></li>
            
            <!-- Sous-menu questions -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Questions <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Liste des questions</a></li>
                    <li><a href="{{path('question_add')}}">Ajouter des questions</a></li>
                    <li><a href="#">Statistiques</a></li>
                </ul>
            </li>
            
            <!-- Sous-menu thèmes -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Thèmes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Liste des thèmes</a></li>
                    <li><a href="{{path('theme_list')}}">Ajouter des thèmes</a></li>
                    <li><a href="#">Statistiques</a></li>
                </ul>
            </li>
            
            <!-- Sous-menu tests -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tests <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Liste des tests</a></li>
                    <li><a href="#">Créer des tests</a></li>
                    <li><a href="#">Statistiques</a></li>
                </ul>
            </li>
            
            <!-- Sous-menu inscriptions -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inscriptions <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Liste des inscriptions</a></li>
                    <li><a href="#">Ajouter des inscriptions</a></li>
                    <li><a href="#">Statistiques</a></li>
                </ul>
            </li>

        </ul>

    </nav>
  
{% endblock %}