{# Utilisation du thème bootstrap 3 pour les formulaires #}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

{% extends 'QcmBackBundle::general.html.twig' %}

{# Définition du corps de la page #}
{% block body %}

    {# Ajout du menu de navigation #}
    {% include 'QcmBackBundle:Questions:menu.html.twig' with {'action' : 'ajouter'} %}

    <!-- Formulaire de saisie de question -->
    
    {{ form(form) }}
    
{% endblock %}

{# Redéfinition du style de formulaire #}
{% block form_row %}

    <div class="formLabel">
        
        {{ form_label(form) }}
        
    </div>

    <div class="formWidget" data-prototype="{{ form_widget(form.reponses.vars.prototype)|e }}">
        
        {{ form_widget(form) }}
        
    </div>

    <div class="formErrors">
        
        {{ form_errors(form) }}
        
    </div>   

{% endblock %}

{# Ajout de scripts Javascripts #}
{% block javascript %}
    
    <!-- Script de gestion de l'ajout et suppression de réponse -->    
    <script src="{{asset('js/ajouterReponses.js')}}" type="text/javascript"></script>
    
{% endblock %}