{% extends 'QcmBackBundle::general.html.twig' %}

{# Définition du corps de la page #}
{% block body %}

    {% include 'QcmBackBundle:Questions:menu.html.twig' with {'action' : 'accueil'} %}
    
    <div class="jumbotron">
        <div class="container">
            
            <h1>Page d'administration des QCM - Questions</h1>
            <p>Zone réservée à la gestions des questions</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            
        </div>
    </div>

{% endblock %}