{# Désactivation par défaut de toutes les sections #}
{% set accueilActive = '' %}
{% set ajouterActive = '' %}
{% set listeActive = '' %}
{% set statistiquesActive = '' %}

{# Activation de la page demandée #}
{% if action is defined %}
    
    {% if action == 'accueil' %}
        {% set accueilActive = 'active' %}
    {% elseif action == 'ajouter' %}
        {% set ajouterActive = 'active' %}
    {% elseif action == 'liste' %}
        {% set listeActive = 'active' %}
    {% elseif action == 'statistiques' %}
        {% set statistiquesActive = 'active' %}
    {% endif %}
    
{% endif %}

{# Création de la barre de menu #}
<nav class="nav-bar navbar-default col-md-12">
    
    <ul class="nav navbar-nav"> 

        <!-- Accueil -->
        <li class="{{accueilActive}}">
            <a href="{{path('questions_index')}}">Accueil</a>
        </li>

        <!-- Lien vers la partie Questions -->
        <li class="{{ajouterActive}}">
            <a href="{{path('questions_ajouter')}}">Ajouter</a>
        </li>

        <!-- Lien vers la partie Thèmes -->
        <li class="{{listeActive}}">
            <a href="{{path('questions_liste')}}">Liste</a>
        </li>

        <!-- Lien vers la partie Tests -->
        <li class="{{statistiquesActive}}">
            <a href="{{path('questions_statistiques')}}">Statistiques</a>
        </li>

    </ul> 
             
</nav>