
<!-- Zone de saisie de la réponse -->
<div class="form-group">
    <label for="question">Réponse :</label> 
    <textarea id="reponse" name="reponse" rows="4" cols="50" placeholder="Saisissez la réponse" class="form-control"></textarea>
</div>

<!-- Checkbox de validité de la réponse -->
<div class="form-group">
    <input id="reponseCorrecte" name="reponseCorrecte" value="reponseCorrecte" type="checkbox" />
    <label for="reponseCorrecte"></label>
</div>

<!-- Bouton de suppression de la réponse -->
<input id="supprimerReponse" name="supprimerReponse" value="Supprimer" type="submit" class="btn btn-danger" />
