{% extends 'QcmBackBundle::general.html.twig' %}

{# Définition du corps de la page #}
{% block body %}

    {{ form(form) }}

{% endblock %}
    
{# Redéfinition du style de formulaire #}
{% block form_row %}

    <div class="formLabel">
        
        {{ form_label(form) }}
        
    </div>

    <div class="formWidget" data-prototype="{{ form_widget(form.sections.vars.prototype)|e }}">
        
        {{ form_widget(form) }}
        
    </div>

    <div class="formErrors">
        
        {{ form_errors(form) }}
        
    </div>   
      
{% endblock %}


{# Ajout de scripts Javascripts #}
{% block javascript %}
    
    <!-- Script de gestion de l'ajout et suppression de réponse -->    
    <script src="{{asset('js/ajouterSections.js')}}" type="text/javascript"></script>
    
{% endblock %}