{% extends 'QcmBackBundle::general.html.twig' %}

{# Définition du corps de la page #}
{% block body %}

    <div class="jumbotron">
        <div class="container">
            
            <h1>Administration des QCM - Inscriptions</h1>
            <p>Zone réservée à la gestion des inscriptions</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            
        </div>
    </div>

{% endblock %}