<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>QCM</title>

        <!-- Feuille de style spécifique au site -->
        <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />  

        <!-- Bootstrap -->
        <link href="{{ asset('/css/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">   

    </head>

    <body>

        <!-- En-tête de la page courante -->
        <div id="header" class="page-header">

            {% block header %}
                {# Todo : Centrage par rapport à l'image (pour avoir la même taille de div) #}
                <div class="row">   
                    <div class="col-md-2">
                        <div class="logo"><a href="{{ path('index') }}"><img src="{{ asset('img/logo.jpg') }}" alt="logo"/></a></div>
                    </div>
                   <div class="col-md-10">
                        <h1>Examen en ligne - ENI Ecole Informatique</h1>
                    </div>
                </div>

            {% endblock %}

        </div>

        {% include 'QcmFrontBundle::liensConnexion.html.twig' %}

<!-- Corps de la page courante -->
        <div id="body" class="container-fluid">

            <!-- Bandeau d'affichage de l'utilisateur courant -->
            {% block utilisateur %}
            {% endblock %}

            <!-- Barre de menu -->
            {% block menu %}
            {% endblock %}

            <!-- Corps de la page -->
            {% block body %}
            {% endblock %}

        </div>
            
        <!-- Pied de la page courante -->
        <div id="footer">

            {% block footer %}
                <p>© 2015 Eni-Ecole - Tous droits réservés</p>
            {% endblock %}

        </div>

        <!-- Bibliothèque JQuery -->
        <script src="{{asset('js/jquery-2.1.3.js')}}" type="text/javascript"></script>

        <!-- Autres sources javascripts -->
        {% block javascript %}
        {% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{asset('css/bootstrap/dist/js/bootstrap.min.js')}}"></script>


    </body>

</html>