{% extends "QcmFrontBundle::general.html.twig" %}


{% block body %}
    
    {{form(form)}}
    
{% endblock %}

{% block javascript %}
    
    <script src="{{asset('js/ajouterProfil.js')}}" type="text/javascript"></script>
    
{% endblock %}