<div class="container-fluid">
    
    <div id="navConnexion" class="col-md-12 btn-group">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Connecté en tant que {{ app.user.username }}
             - 
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default">Déconnexion</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Connexion</a><a href="{{ path('inscription') }}" class="btn btn-default">Inscription</a>
        {% endif %}
    
    </nav>
        
</div>