{% extends 'QcmFrontBundle::general.html.twig' %}

{% block body %}
    <h2>Confirmation</h2>
    <p>Vous êtes sur le point de commencer le test :</p>
    <a href="{{ path('passageTest', {'inscription': inscription.getId(), 'test': test.getId()}) ~ "?quest=0" }}">Oui</a>
    <a href="{{ path('accueilPassageTest', {'utilisateur': inscription.getCandidat().getId()}) }}">Non</a>
{% endblock %}
