    {% block infoPersonne %}
        {# Affiche les données de l'utilisateur (Prénom NOM - CODEPROMO) #}
        {% if utilisateur.getCodepromotion() != null %}
            {# Si le code de promotion a une valeur, on l'affiche #}
            {{ utilisateur.getPrenom()|capitalize }} {{ utilisateur.getNom()|upper }} - {{ utilisateur.getCodepromotion().getCodepromo()|upper  }}        
        {% else %}
            {# Si le code de promotion n'a pas de valeur, on affiche "Candidat libre" à la place de la promotion #}
            {{ utilisateur.getPrenom()|capitalize }} {{ utilisateur.getNom()|upper }} - Candidat libre
        {% endif %}         
    {% endblock %}      
