{% extends 'QcmFrontBundle::general.html.twig' %}


{% block title %}
    {{ parent() }} - Accueil passage d'un test
{% endblock %}

{% block utilisateur %}
    <p id="utilisateur" class="col-lg-12">
        {% include 'QcmFrontBundle::utilisateur.html.twig' %}
    </p>
{% endblock %}

{% block body %}
    
    <p class="titreAccueilPassageTest">Sélectionnez le test que vous souhaitez passer:</p>
    {% for inscription in inscriptions %}
        {# Pour chaque test, lors du click d'un lien, une boite de confirmation s'ouvre #}
        <p class="testUrl"><a href="{{ path('pageConfirmation', {'inscription': inscription.getId(), 'test': inscription.getTest().getId()}) }}" >{{ inscription.getTest().getLibelle() }}</a></p>
    {% endfor %}
{% endblock %}