{% extends 'QcmFrontBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Passage d'un test
{% endblock %}

{% block utilisateur %}
    <p id="utilisateur" class="col-lg-12">
        {% set utilisateur=inscription.getCandidat() %}
        {% include 'QcmFrontBundle::utilisateur.html.twig' %}
        {{ inscription.getTest().getLibelle() }}
    </p>
{% endblock %}

{% block body %}
    <p id="utilisateur" class="col-lg-12">
        Question /
        <input type="checkbox" name="questionMarquee"/> marquer cette question
    </p>
    <div id="question" class="col-lg-12">
        <p>{{ enonceQuestion }}</p>
        <div>{{form(formQuestion)}}</div>
    </div>
    
 {#   <a href="#">Précédent</a>
    <a href="#">Suivant</a>
    <a href="#" class="recapitulatif">Récapitulatif</a>
    #}
{% endblock %}
