body {
    text-align: center;
}

#header h1, div.logo {
    float: left;
}

div.logo {
    margin-left: 20px;
    margin-right: 100px;  
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.choixEspace {
    padding-top: 100px;
    padding-bottom: 100px;
}

.espace a{
    border: 1px solid #000000;
    width: 150px;
    margin-left: 320px;
    margin-top: 50px;
    background-color: #4988b4;
    color: #ffe;
    text-decoration: none;
}
    .espace a:hover {
        background-color: #8DB4EF;
        text-decoration: none;
    }
        .espace a,
        .espace a:hover,
        .espace a:active {
            text-align: center;
            display: block;
            color: #4988b4;
            padding: 5px;
            color: #ffe;
            text-decoration: none;
        }

        #body h1{
            margin-top: 100px;
        }     
     
.recapitulatif{
    border: 1px solid #000000;
    width: 150px;
    margin-left: 634px;
    margin-top: 10px;
    background-color: #4988b4;
    color: #ffe;
    text-decoration: none;
}
    .recapitulatif:hover {
        background-color: #8DB4EF;
        text-decoration: none;
    }
        .recapitulatif,
        .recapitulatif:hover,
        .recapitulatif:active {
            text-align: center;
            display: block;
            color: #4988b4;
            padding: 5px;
            color: #ffe;
            text-decoration: none;
        }
   
#utilisateur{
    border: solid #000 1px;
    height: 30px;
    margin-top: 5px;
    margin-left: 4px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}    

#question{
    border: solid #000 1px;
    height: 330px;
    margin-top: 5px;
    margin-left: 4px;
}

.titreAccueilPassageTest{
    margin-top: 30px;
}
        
#header, #body, #footer {
    /*border: solid #000 1px;*/
    margin: auto;
}

#header{
    height: 110px;
    background-color: #4988b4;
    color: #ffe;
}

#body{
    padding-bottom: 150px;
}

#footer{
    height: 50px;
    background-color: #4988b4;
    color: #ffe;
}

