{% extends 'QcmBackBundle::general.html.twig' %}

{# Définition du corps de la page #}
{% block body %}

    {{ form(form) }}

{% endblock %}
    
{# Redéfinition du style de formulaire #}
{% block form_row %}

    <div class="formLabel">
        
        {{ form_label(form) }}
        
    </div>

    <div class="formWidget">
        
        {{ form_widget(form) }}
        
    </div>

    <div class="formErrors">
        
        {{ form_errors(form) }}
        
    </div>   

{% endblock %}
