{% extends 'QcmFrontBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    
    <div class="col-lg-12">

        <h1>QCM ENI</h1>
        <div class="btn-group" role="group">

                <a href="{{path('admin')}}" class="btn btn-default">Espace formateur</a>
                <a href="{{path('accueilPassageTest')}}" class="btn btn-default">Espace Candidat</a>
        </div>

    </div>
 
{% endblock %}
