{% extends 'QcmFrontBundle:Admin:index.html.twig' %}

{% block body %}

    {# Formulaire d'ajout d'une nouvelle question #}
    <div class="addQuestion">
        
        <h2>Nouvelle question</h2>
        {% block form_row %}

            <div class="formLabel">
                {{ form_label(form) }}
            </div>
            
            <div class="formWidget reponses" data-prototype="{{ form_widget(form.reponses.vars.prototype)|e }}">
                {{ form_widget(form) }}
            </div>
            
            <div class="formErrors">
                {{ form_errors(form) }}
            </div> 

        {% endblock %}
 
        {{form(form)}}
   
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{asset('js/formQuestion.js')}}" type="text/javascript"></script>
{% endblock %}  